//
//  Flexbox
//  ---------------------------------------------

.flexbox(@direction, @alignItems, @justifyContent, @wrap) {
  display: ~"-webkit-flex";
  display: ~"-ms-flexbox";
  display: flex;

  -webkit-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;

  -webkit-align-items: @alignItems;
  -ms-align-items: @alignItems;
  align-items: @alignItems;

  justify-content: @justifyContent;
  -webkit-box-pack: @justifyContent;
  -ms-flex-pack: @justifyContent;

  -webkit-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

.flex-center-center {
  .flexbox(row, center, center, nowrap);
}

.flex-center-start {
  .flexbox(row, center, start, nowrap);
}

.flex-center-space-between {
  .flexbox(row, center, space-between, nowrap);
}

.flex-start-start {
  .flexbox(row, flex-start, flex-start, nowrap);
}
