//
//  Typography
//  ---------------------------------------------
@font-family__playfair: 'Plairfair Display';
@font-family__worksans: 'Work Sans';
@font-family__icomoon: 'icomoon';

@font-family-name__base: @font-family__worksans, sans-serif;
@icomoon: @font-family__icomoon;

@font-family__base: @font-family-name__base;
@font-size__base: unit(@font-size-unit-ratio * @font-size-ratio__base, px);

@font-size__xs: floor(0.85 * @font-size__base); // 11px
@font-size__s: ceil(0.9 * @font-size__base); // 12px
@font-size_base: @font-size__base; // 14px
@font-size__l: ceil(1.25 * @font-size__base); // 18px
@font-size__xl: ceil(1.4 * @font-size__base); // 20px

@font-weight__thin: 300;
@font-weight__extralight: 300;
@font-weight__light: 300;
@font-weight__regular: 400;
@font-weight__media: 400;
@font-weight__semibold: 600;
@font-weight__bold: 700;
@font-weight__extrabold: 700;
@font-weight__black: 700;

//
// Headings
//  ---------------------------------------------

@heading__font-family__base: @font-family__playfair;
@heading__font-weight__base: @font-weight__bold;
@h2__font-size: ceil((@font-size__base * 1.71)); // 24px

//
//  Links
//  ---------------------------------------------

@link__color: @primary__color;
@link__text-decoration: none;

@link__visited__color: @link__color;
@link__visited__text-decoration: none;

@link__hover__color: @link__color;
@link__hover__text-decoration: underline;

@link__active__color: @link__color;
@link__active__text-decoration: underline;

//
//  New Colors
//  _____________________________________________

@main_text: #342017;
@main_background: #7A8227;
@main_background_hover: #6D7420;
@secondary_background: #F9EBE4;
@secondary_background_hover: #EEE0D9;
@borders: #e5e3e2;
@input_focus: #f7f6f6;

//
//  Colors
//  ---------------------------------------------

@primary__color: @main_text;
@theme__color__primary: @main_background;
@theme__color__primary-alt: @main_background_hover;
@theme__color__secondary: @secondary_background_hover;


//
//  Layout & Resolutions
//  ---------------------------------------------

@layout__max-width: 1280px;
@layout__padding-left: 15px;
@layout__padding-right: 15px;
@layout__padding-top: 0;
@layout__padding-bottom: 0;

@screen_m: 768px;
@screen_before_l: 1023px;
@screen_l: 1024px;
@screen_xl: 1440px;
@screen_xxl: 1485px;

//
//  Buttons
//  ---------------------------------------------

@button__border-radius: 4px;
@button__font-size: @font-size_base;
@button__font-weight: @font-weight__regular;
@button__padding: 10px 20px;

// Secondary button

@button__background: @secondary_background;
@button__border: 0;

// Primary button

@button-primary__font-family: @button__font-family;
@button-primary__font-weight: @button__font-weight;
@button-primary__padding: @button__padding;
@button-primary__border: 0;

@button-primary__hover__background: @theme__color__primary-alt;
@button-primary__hover__border: 0;

@button-primary__active__background: @button-primary__hover__background;
@button-primary__active__border: @button-primary__hover__border;

// Forms

@form-element-input__border-color: @borders;
@form-element-input__border-radius: 4px;
@form-element-input__height: 45px;
@form-element-input__padding: 3px 9px;

//  Forms Focus state
@form-element-input__focus__background: @input_focus;
@form-element-input__focus__border: 1px solid @color-black;
@form-element-input__focus__color: @form-element-input__color;
@form-element-input__focus__font-style: @form-element-input__font-style;

